.evidence/template
.svelte-kit
build
node_modules
.DS_Store
static/data
*.options.yaml
.vscode/settings.json
.env
.evidence/meta
/sources
.evidence/customization/.profile.json
.Rhistory
.RData
.Rproj.user/
*.arrow
*.csv
*.db
*.duckdb
*.ods
*.parquet
*.psv
*.sqlite
*.sqlite3
*.tsv
*.xls
*.xlsx
R/proj_variables.R
